[submodule "themes/hugo-blog-awesome"]
	path = themes/hugo-blog-awesome
	url = https://github.com/hugo-sid/hugo-blog-awesome.git
[submodule "themes/hugo-dead-simple"]
	path = themes/hugo-dead-simple
	url = https://github.com/barklan/hugo-dead-simple
[submodule "themes/hugo-dead-simple-customized"]
	path = themes/hugo-dead-simple-customized
	url = https://github.com/ngandlau/hugo-dead-simple-customized
