[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/photophobia"]
	path = themes/photophobia
	url = https://github.com/setsevireon/photophobia.git
