body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Mono', monospace;
    margin: 1em;
    background-color: #101010;
    color: #ffffff;
}

a {
    color: #ffffff;
}

.content {
    max-width: 800px;
    margin: auto;
}

